/*look what i figured out! this is fun*/

body {
  background: #5d5676;
  background: -moz-linear-gradient(top,  #5d5676 0%, #3b374c 100%);
  background: -webkit-linear-gradient(top,  #5d5676 0%,#3b374c 100%);
  background: linear-gradient(to bottom,  #5d5676 0%,#3b374c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5676', endColorstr='#3b374c',GradientType=0 );
 }
 
 h1 {
  color:white;
  font-family:courier new;
  font-style:bold;
  margin-bottom:0px;
}

h2 {
  color:white;
  font-family:tahoma;
  font-size:21px;
  font-style:italic;
  margin-top:0px;
}

p {
  color:white;
  font-family: tahoma;
  font-size:15px;
}

a:link {
  color:white;
  font-style:underline;
}

a:visited {
  color:#ffd2a6;
  font-style:underline;
}

a:hover {
  color:#ffa752;
  font-style:underline;
}

hr {
  border-bottom: none;
  border-left:none;
  border-right:none;
  border-top:1px solid #8A7FB4;
}

mark {
  text-shadow: 0 0 3px #ffa752;
  color:white;
  background-color:transparent;
}

.scream {
  float:right;
  margin-right:20%;
}

.test {
  float:right;
  width:40%;
  margin-right:20%;
  max-height:200px;
  border:1px solid #8A7FB4;
  padding: 10px 10px 10px 10px;
  overflow:auto;
  position:relative;
}

.slanty {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  margin-top:20px;
  width:230px;
  position:relative;
}

.rotate {
  position:relative;
  width:150px;
  text-align:center;
  transition: 2s;
  -webkit-transition: 2s;
}

.rotate:hover {
  transform:rotateX(180deg);
}

table {
  width:40%;
  border:2px solid white;
  background-color:#8A7FB4;
  font-family:courier new;
  color:white;
  border-collapse:collapse;
}


body.teethbody {
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:0;
  padding:0;
  width:100%;
  background:black;
  z-index:1;
}

.teeth {
  left: calc(50% - 200px);
  position: relative;
  height:100%;
  overflow:hidden;
  width:400px;
}

.topteeth {
  z-index:1;
  position: absolute;
  top: 0;
  transition: ease-in 2s;
  -webkit-transition: ease-in 2s;
}

.topteeth img{
  width:400px;
  height:55%;
}

.bottomteeth {
  position: absolute;
  bottom: 0;
  transition: ease-in 2s;
  -webkit-transition: ease-in 2s;
}

.bottomteeth img{
  width:400px;
  height:55%;
}

.teethtext {
  z-index:-1;
  transition: 2s;
  -webkit-transition: 2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}

.teeth:hover .topteeth {
  top: -100%;
}

.teeth:hover .bottomteeth {
  bottom: -100%;
}

.teeth:hover .teethtext {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

  td {
  border:1px solid white;
 }
 
 th {
  border:2px solid white;
 }